.hidden {
    display: none;
}

.keyboard {
    position: absolute;
    z-index: 11;
    top: 160px;
    right: 0;
    left: 0;

    width: 890px;
    margin: 0 auto;

    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;

    border: 1px solid black;
    border-radius: 3px 0 0 3px;
    background-color: white;
    box-shadow: 0px 0px 10px -2px rgba(0, 0, 0, .85);
} 

.keyboard__key {
    display: inline-flex;
    align-items: center;
    justify-content: center;

    box-sizing: border-box;
    width: 50px;
    height: 40px;
    margin: 5px;

    font-size: 14px;
    font-weight: 700;

    color: white;
    border: none;
    outline: none;
    background-color: #5b4f4f;

    cursor: pointer;
    transition: .1s;
}

.keyboard__change-language {
    position: absolute;
    right: -1px;

    box-sizing: border-box;
    width: 55px;
    margin: 0;
    padding: 6px 5px 5px;

    border: 1px solid black;
    border-top: 1px solid transparent;
    border-radius: 0 0 3px 3px;
    background-color: white;

    cursor: pointer;
    text-align: center;
    text-transform: uppercase;
}

.keyboard__close-keyboard {
    position: absolute;
    top: -35px;
    right: -1px;

    box-sizing: border-box;
    margin: 0;
    padding: 5px 5px 6px;

    border: 1px solid black;
    border-bottom: 1px solid transparent;
    border-radius: 3px 3px 0 0;
    background-color: white;

    cursor: pointer;
}

.keyboard__key_active {
    border-radius: 6px;
    background-color: #b1a1a1 !important;
}

.keyboard__key:hover {
    background-color: #474040;
}

.Backspace {
    width: 100px;
}

.Tab, .Backslash {
    width: 75px;
}

.CapsLock {
    width: 85px;
}

.Enter {
    width: 125px;
}

.ShiftLeft {
    width: 100px;

    background-color: #206fff;
}

.ControlLeft {
    background-color: #206fff;
}

.ShiftRight {
    width: 110px;
}

.Space {
    width: 400px;

    font-size: 13px;
    font-weight: normal;
    font-style: italic;

    color: #767676;
}

