.search {
    position: relative;

    display: flex;
    align-items: center;
    justify-content: center;

    box-sizing: border-box;
    width: 60%;
    max-width: 800px;
    margin-top: 10px;
    padding: 0 10px;
}

.search__input {
    box-sizing: border-box;
    width: 100%;
    height: 38px;
    margin-right: 10px;
    padding-right: 110px;
    padding-left: 5px;

    font-size: 18px;

    border: none;
    border-radius: 4px;
    box-shadow: 0px 0px 5px -1px rgba(0, 0, 0, .85);

    transition: .15s;
}

.search__loader {
    position: absolute;
    right: 157px;

    visibility: hidden;

    height: 28px;

    animation-name: loading;
    animation-duration: .8s;
    animation-iteration-count: infinite;
}

.search__clear-input {
    position: absolute;
    right: 95px;

    height: 19px;

    cursor: pointer;
}

.search__keyboard-icon {
    position: absolute;
    right: 121px;

    height: 28px;

    cursor: pointer;
}

.search__loader-active {
    visibility: visible;
}

@keyframes loading {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.search__button {
    box-sizing: border-box;
    width: 70px;
    height: 38px;

    font-size: 18px;

    border: none;
    border-radius: 4px;
    background-color: darkorange;
    box-shadow: 0px 0px 5px -1px rgba(0, 0, 0, .85);

    cursor: pointer;
    transition: .15s;
}

.search__input:hover, .search__input:focus {
    box-shadow: 0px 0px 10px -1px rgba(0, 0, 0, .85);
}

.search__button:hover {
    box-shadow: 0px 0px 10px -1px rgba(0, 0, 0, .85);
}

@media screen and (max-width: 950px) {
    .search__input {
        padding-right: 57px;
    }

    .search__keyboard-icon {
        display: none;
    }

    .search__loader {
        right: 116px;
    }
}

@media screen and (max-width: 479px) {
    .search {
        width: 100%;
    }
}