html {
    width: 100%;
    height: 100%;
}

body {
    display: flex;
    align-items: center;
    flex-direction: column;

    margin: 0;
    height: 100%;
    background: linear-gradient(43deg, #4158d0 0%, #c850c0 46%, #ffcc70 100%) fixed;
}


